table.griew {
	font-size: 0.9rem;

	.griew-header-cell {
		position: relative;
	}
}

.griew-filter-box {
	width: 240px;
	padding: .75rem;
	border: 1px solid rgb(220,220,220);
	background-color: #fff;
	box-shadow: 0 0 2px rgba(200,200,200,.8);
	display: none;
	position: absolute;
	left: 0;
	right: 0;	
	margin: 0 auto;
	z-index: 3;

	&.active {
		display: block;
	}

	* {
		box-sizing: border-box;
		outline: none;
	}

	.griew-filter-enum-btn-accept, 
	.griew-filter-enum-btn-clear, 
	.griew-filter-datetime-btn-accept, 
	.griew-filter-datetime-btn-clear, 
	.griew-filter-number-btn-accept, 
	.griew-filter-number-btn-clear, 
	.griew-filter-string-btn-accept, 
	.griew-filter-string-btn-clear {
		padding: .35rem .6rem;
		border: 1px solid rgb(220,220,220);
		margin-right: 4px;
		color: #444;
		background-color: #eee;

	}

	.griew-filter-number-btn-clear,
	.griew-filter-string-btn-clear {
		background-color: #f9f9f9;
	}

	.griew-filter-string-box {
		.griew-filter-string-operator {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);
		}

		.griew-filter-string-operand {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);
		}

		.griew-filter-string-btn-accept {

		}

		.griew-filter-string-btn-clear {

		}
	}

	.griew-filter-number-box {
		.griew-filter-number-operator {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);
		}

		.griew-filter-number-operand {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);

			&.hide {
				display: none;
			}
		}

		.griew-filter-number-btn-accept {

		}

		.griew-filter-number-btn-clear {

		}
	}

	.griew-filter-datetime-box {
		.griew-filter-datetime-operator {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);
		}

		.griew-filter-datetime-operand {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: 0;
			border: 1px solid rgb(200,200,200);
			position: relative;
			overflow: hidden;

			&.hide {
				display: none;
			}

			.griew-filter-datetime-date-wrapper,
			.griew-filter-datetime-time-wrapper {
				margin: 0;
				padding: 0;
				display: flex;
				border-bottom: 1px solid rgb(200,200,200);

				* {
					border: none;
					margin: 0;
					padding:.25rem;
					outline: none;
					display: block;
					flex: 1 1 auto !important;
					box-sizing: border-box;
					width: 100%;
				}
			}

			.griew-filter-datetime-operand-year {
				// width: 28%;
			}

			.griew-filter-datetime-operand-month {
				// width: 28%;	
			}

			.griew-filter-datetime-operand-day {
				// width: 30%;
			}

			.griew-filter-datetime-operand-hour {
				// width: 40%;
			}

			.griew-filter-datetime-operand-minute {
				// width: 40%;
			}

			.griew-filter-datetime-date-separator {
				text-align: center;
				width: auto;
				&:after {
					content: "/";
				}
				
			}

			.griew-filter-datetime-time-separator {
				text-align: center;
				width: auto;
				&:after {
					content: ":";
				}
			}
		}

		.griew-filter-datetime-btn-accept {

		}

		.griew-filter-datetime-btn-clear {

		}
	}

	.griew-filter-enum-box {
		.griew-filter-enum-operand {
			margin-bottom: .5rem;

			.griew-filter-enum-item-control {
				display: block;
				width: 100%;
				position: relative;

				.griew-filter-enum-item-input {
					position: absolute;
					z-index: -1;
					opacity: 0;
				}

				.griew-filter-enum-item-caption {
					display: block;
					width: 100%;
					padding: 4px;
				}

				.griew-filter-enum-item-input:checked+.griew-filter-enum-item-caption {
					background-color: #eee;
				}
			}
		}

		.griew-filter-enum-btn-accept {

		}

		.griew-filter-enum-btn-clear {

		}
	}
}

.griew-filter-button {
	border: 0;
	background-color: transparent;
	float: right;
	outline: 0;
	font: normal normal normal 14px/1 FontAwesome;

	&:after {
		content: "\f0b0";
	}

	&.active:after {
		color: #ee5555;
	}
}

.griew-order-box {
	width: 200px;
	padding: .75rem;
	border: 1px solid rgb(220,220,220);
	background-color: #fff;
	box-shadow: 0 0 2px rgba(200,200,200,.8);
	display: none;
	position: absolute;
	left: 0;
	right: 0;	
	margin: 0 auto;
	z-index: 3;

	&.active {
		display: block;
	}

	* {
		box-sizing: border-box;
		outline: none;
	}

	.griew-order-default-box {
		margin: 0;
		list-style-type: none;
		padding: 0;

		.griew-order-default-btn-sort {
			padding: .25rem .25rem;
			cursor: pointer;

			&:hover {
				background-color: #eee;
			}

			&.active {
				background-color: #eee;
			}
		}

		.griew-order-default-asc-sort {

			&:before {
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f160";
				padding: .25rem;
			}
		}
		
		.griew-order-default-desc-sort {

			&:before {
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f161";
				padding: .25rem;
			}
		}
		
		.griew-order-default-clear-sort {
			color: #ee5555;

			&:before {
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f0dc";
				padding: .25rem;
			}
		}
	}	
}

.griew-order-button {
	border: 0;
	background-color: transparent;
	float: right;
	outline: 0;
	font: normal normal normal 14px/1 FontAwesome;

	&.griew-order-asc:after {
		color: #ee5555;
		content: "\f160";
	}

	&.griew-order-desc:after {
		color: #ee5555;;
		content: "\f161";
	}

	&:after {
		content: "\f0dc";
	}

}

.griew-pagination {
	display: flex;
	padding: 0;
	list-style: none;

	.griew-pagination-item {
		
		.griew-pagination-link {
			position: relative;
			display: block;
			padding: .5rem .75rem;
			line-height: 1.25;
			color: #333;
			background-color: #fff;
			border: 1px solid #ddd;
			margin-left: -1px;
			cursor: pointer;

			&[data-action="previous"][data-page]:before {
				font: normal normal normal 16px/1 FontAwesome;
				content: "\f100";
			}
			
			&[data-action="previous"][data-page="1"]:before {
				font: normal normal normal 16px/1 FontAwesome;
				content: "\f104";
			}

			&[data-action="first"]:before {
				font: normal normal normal 16px/1 FontAwesome;
				content: "\f100\f104";
			}

			&[data-action="next"][data-page]:before {
				font: normal normal normal 16px/1 FontAwesome;
				content: "\f101";
			}
			
			&[data-action="next"][data-page="1"]:before {
				font: normal normal normal 16px/1 FontAwesome;
				content: "\f105";
			}

			&[data-action="last"]:before {
				font: normal normal normal 16px/1 FontAwesome;
				content: "\f105\f101";
			}

		}

		&.active .griew-pagination-link {
			z-index: 2;
			color: #fff;
			background-color: #ccc;
			border-color: #ccc;
		}

		&.griew-pagination-manual {
			margin: 0 .5rem;
			padding: 0;
			position: relative;
			border: 1px solid #ddd;

			.griew-pagination-manual-input {
				display: inline-block;
				padding: .5rem 0;
				margin: 0;
				font-size: 1rem;
				width: 3rem;
				line-height: 1.25;
				color: #333;
				background-color: #fff;
				border: none;
				outline: none;
				text-align: center;
			}

			.griew-pagination-manual-separator {
				display: inline-block;
				padding: .5rem .25rem;
				margin: 0;
				font-size: 1rem;
				line-height: 1.25;
				color: #333;
				background-color: #fff;

				&:before {
					content: "/";
				}
			}

			.griew-pagination-manual-last {
				display: inline-block;
				padding: .5rem .25rem;
				margin: 0;
				font-size: 1rem;
				line-height: 1.25;
				color: #333;
				background-color: #fff;
			}
		}
	}
}

[dir=rtl] {

	body {
		text-align: right;
	}

	.griew-pagination {
		.griew-pagination-item {
			
			.griew-pagination-link {
				&[data-action="previous"][data-page]:before {
					font: normal normal normal 16px/1 FontAwesome;
					content: "\f101";
				}
				
				&[data-action="previous"][data-page="1"]:before {
					font: normal normal normal 16px/1 FontAwesome;
					content: "\f105";
				}
	
				&[data-action="first"]:before {
					font: normal normal normal 16px/1 FontAwesome;
					content: "\f105\f101";
				}
	
				&[data-action="next"][data-page]:before {
					font: normal normal normal 16px/1 FontAwesome;
					content: "\f100";
				}
				
				&[data-action="next"][data-page="1"]:before {
					font: normal normal normal 16px/1 FontAwesome;
					content: "\f104";
				}
	
				&[data-action="last"]:before {
					font: normal normal normal 16px/1 FontAwesome;
					content: "\f100\f104";
				}
	
			}
		}
	}
	
	.griew-order-button,
	.griew-filter-button { 
		float: left;
	}
}