table.griew {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	background-color: transparent;
	border-spacing: 2px;
	border-color: grey;
	font-size: 14px;

	* {
		box-sizing: border-box;
	}

	th, td {
		padding: .65rem;
	}

	thead {
		vertical-align: middle;
		tr {
			th {
				text-align: left;
				border-top: 1px solid #eceeef;
				border-bottom: 2px solid #eceeef;
				position: relative;
			}
		}
	}

	tbody {
		tr {
			td {
				text-align: left;
				border-top: 1px solid #eceeef;
			}
		}
	}

	.griew-data-row:nth-child(odd) {
		background-color: #fafafa;
	}
}

.griew-filter-box {
	width: 240px;
	padding: .75rem;
	border: 1px solid rgb(220,220,220);
	background-color: #fff;
	box-shadow: 0 0 2px rgba(200,200,200,.8);
	display: none;
	position: absolute;
	left: 0;
	right: 0;	
	margin: 0 auto;

	&.active {
		display: block;
	}

	* {
		box-sizing: border-box;
		outline: none;
	}

	.griew-filter-enum-btn-accept, 
	.griew-filter-enum-btn-clear, 
	.griew-filter-datetime-btn-accept, 
	.griew-filter-datetime-btn-clear, 
	.griew-filter-number-btn-accept, 
	.griew-filter-number-btn-clear, 
	.griew-filter-string-btn-accept, 
	.griew-filter-string-btn-clear {
		padding: .35rem .6rem;
		border: 1px solid rgb(220,220,220);
		margin-right: 4px;
		color: #444;
		background-color: #eee;

	}

	.griew-filter-number-btn-clear,
	.griew-filter-string-btn-clear {
		background-color: #f9f9f9;
	}

	.griew-filter-string-box {
		.griew-filter-string-operator {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);
		}

		.griew-filter-string-operand {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);
		}

		.griew-filter-string-btn-accept {

		}

		.griew-filter-string-btn-clear {

		}
	}

	.griew-filter-number-box {
		.griew-filter-number-operator {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);
		}

		.griew-filter-number-operand {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);

			&.hide {
				display: none;
			}
		}

		.griew-filter-number-btn-accept {

		}

		.griew-filter-number-btn-clear {

		}
	}

	.griew-filter-datetime-box {
		.griew-filter-datetime-operator {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: .25rem;
			border: 1px solid rgb(200,200,200);
		}

		.griew-filter-datetime-operand {
			display: block;
			width: 100%;
			margin: 0 0 .5rem;
			padding: 0;
			border: 1px solid rgb(200,200,200);
			position: relative;

			&.hide {
				display: none;
			}

			.griew-filter-datetime-date-wrapper,
			.griew-filter-datetime-time-wrapper {
				margin: 0;
				padding: 0;
				display: flex;
				border-bottom: 1px solid rgb(200,200,200);

				* {
					border: none;
					margin: 0;
					padding:.25rem;
					outline: none;
					display: block;
					box-sizing: border-box;
					width: 100%;	
				}
			}

			.griew-filter-datetime-operand-year {
				// width: 28%;
			}

			.griew-filter-datetime-operand-month {
				// width: 28%;	
			}

			.griew-filter-datetime-operand-day {
				// width: 30%;
			}

			.griew-filter-datetime-operand-hour {
				// width: 40%;
			}

			.griew-filter-datetime-operand-minute {
				// width: 40%;
			}

			.griew-filter-datetime-date-separator {
				text-align: center;
				width: auto;
				&:after {
					content: "/";
				}
				
			}

			.griew-filter-datetime-time-separator {
				text-align: center;
				width: auto;
				&:after {
					content: ":";
				}
			}
		}

		.griew-filter-datetime-btn-accept {

		}

		.griew-filter-datetime-btn-clear {

		}
	}

	.griew-filter-enum-box {
		.griew-filter-enum-operand {
			margin-bottom: .5rem;

			.griew-filter-enum-item-control {
				display: block;
				width: 100%;
				position: relative;

				.griew-filter-enum-item-input {
					position: absolute;
					z-index: -1;
					opacity: 0;
				}

				.griew-filter-enum-item-caption {
					display: block;
					width: 100%;
					padding: 4px;
				}

				.griew-filter-enum-item-input:checked+.griew-filter-enum-item-caption {
					background-color: #eee;
				}
			}
		}

		.griew-filter-enum-btn-accept {

		}

		.griew-filter-enum-btn-clear {

		}
	}
}

.griew-filter-button {
		border: 0;
		background-color: transparent;
		float: right;
		outline: 0;

		&:after {
			content: "F";
		}
}